.react-contextmenu{
    z-index: 9999;
    box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
    border-radius: 5px;
    background: #fff;
}

.react-contextmenu-item{
    border: none;
    border-bottom:1px solid #D4D4D5 ;
    padding: 5px;
    cursor: pointer;
}
